@charset "utf-8";
@media screen and (min-width:1800px){

 .tt_txt_seo2 {padding: 0px 0px 0px 0px;}
 #topbar2 {width: 280px;}
 
}
@media screen and (min-width:1980px){


}
@media screen and (max-width:1050px){

 
}
@media screen and (max-width:1024px){
#topbar2,
#topbar {display: none;}
.wrapper {padding: 0px 15px 0px 15px;}
}
@media screen and (max-width:980px){
.menu_footer ul li:after{width:0px;}
.tt_slide_page {max-height: 230px;}
.tt_from_login {margin: 20px 0% 0px 0px;} 
.tt_slide {margin: 0px 0px 0px 0px;}
.bg_1.fr_login_form,
.sc_t,
.live_bx,
.jp_bg,
.tt_live,
.pcx {display: none;}
.home .sc_t,
.mcx {display: block;}
.bg2 {
padding: 20px 0px 0px 0px;	
background-image: none;
background: #ba943e;
background: -moz-linear-gradient(left,  #ba943e 0%, #dbc684 21%, #f1e1a2 49%, #e7ca7a 80%, #b28b42 100%);
background: -webkit-linear-gradient(left,  #ba943e 0%,#dbc684 21%,#f1e1a2 49%,#e7ca7a 80%,#b28b42 100%);
background: linear-gradient(to right,  #ba943e 0%,#dbc684 21%,#f1e1a2 49%,#e7ca7a 80%,#b28b42 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba943e', endColorstr='#b28b42',GradientType=1 );
}
.tt_txt_seo2 {padding: 0px 0px 0px 0px;}
 .head_mc {display: block;}
 .h-linem img {max-width: 180px;}
 .btmc {padding: 0px 10px 0px 10px;}
}
@media screen and (max-width:960px){
.tt_from_login {width:100%;margin: 5px 0% 0px 0px;padding: 15px 20px 15px 20px;
background: rgb(219,219,219);
background: -moz-linear-gradient(top,  rgba(219,219,219,1) 0%, rgba(198,198,198,1) 100%);
background: -webkit-linear-gradient(top,  rgba(219,219,219,1) 0%,rgba(198,198,198,1) 100%);
background: linear-gradient(to bottom,  rgba(219,219,219,1) 0%,rgba(198,198,198,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#c6c6c6',GradientType=0 );




} 

.tt_head_menu{float:left;width:100%;margin: 24px 0px 0px 2.2%;}
.tt_from_lg .tt_from_u ,
.tt_from_lg .tt_from_p {color:#555;width:40%;margin:0px 5px 0px 0px;padding: 10px 0px 10px 5px;border: 1px solid #ccc;height: 40px;font-size: 14px;background-color: #FFF;}
.tt_from_lg {width:80%;}
.tt_submit {border: 0;width:15%;height: 40px;text-align: center;font-size: 16px;color: #fff;cursor: pointer;line-height: 40px;}
.tt_btn_lang{padding: 10px 5px 10px 10px;}
.tx_pc{display: none;}
.tx_m,
.head_phone {display:block;}
.tt-social{margin-top: 0px;}
.tt-fxpc {position: relative;}
.fixpc {margin-top: 0px;}
.step3 {}
body {
    padding: 60px 0px 0px 0px;
}
}
@media screen and (max-width:800px){
.bg_3,	
.bg_1 {padding: 0px 0px 0px 0px;}
.header {margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
.tt_from_login_m,
.nav_m {display: block;}
.wrapper {padding: 0px 0px 0px 0px;overflow: hidden;} 
.post-sm {width: 50%;}
.post-hl {width: 100%;background-color: transparent;margin: 10px 0px 0px 10px;}
.post-hl:hover {background-color:transparent;}
.post-sm .tt_img,
.post-hl .tt_img{width: 25%;}
.post-hl .title p {display: none;}
.post-sm {float: left;width: 100%;margin: 5px 0% 5px 10px;}
.post-hl .title,
.post-sm .title{float: right;width: 73%;padding:0px 10px 10px 10px;}
.post-hl .title h3 {color: #000;}
.post-sm .title h3 {font-size: 16px;color: #000;}
.nav_lang { width:120px;}
.banner_stb img,
.tt_b2xr,
.banner_bank img,
.banner_hover img,
.right_ct,
.left_ct {width: 100%;}
.wrapper_c {overflow: hidden;}
.tt-line-phone,
.fr_yt,
.header_bt,
.tt_fb {display: none;}
.right_ct .banner_hover {width: 33.3333%;}
.tt_content {padding: 10px 10px 5px 10px;}
.tt_slide {padding: 0px;width: 100%;}
.tt_live {float: left;width: 100%;margin: 0px 0% 0px 0%;border: 0;padding: 15px;}
.nav_m {min-height: 45px;position:fixed;top: 0px;left: 0px;z-index: 1000;border-bottom: 2px solid #000;background-color:#FFF;}
.nav_m a {float: left;width: 100%;text-align: center;}
.nav-toggle { position:absolute;left: 0px;top: 0px;height: 45px; width: 56px;font-size: 24px;color: #000;cursor: pointer;text-align: center;}
.nav-toggle strong {font-size: 12px;top: 27px;position:absolute;left: 10px;}
.user-toggle { position:absolute;right: 0px;top:0px;height: 45px; width: 56px;font-size: 24px;color: #000;cursor: pointer;text-align: center;}
.user-toggle strong {font-size: 12px;top: 27px;position:absolute;left: 5px;}
.nav_top {margin-top: 30px;}
.tt_head_menu  ul li.hied_pc,
.owl-theme.owl-loaded .owl-controls .owl-dots{display: none!important;}
.logo_m {display: block;float: left;width: 100%;text-align: center;

background: #0c0016;
padding: 0px 0px 0px 0px;

}
.tt_head_menu{width:100%;margin: 0px;position: relative;}
.logo_pc,
.tt_head_menu ul li:after{display: none;}
.tt_head_menu ul{left:0px;padding:0px;z-index:9999;width:100%;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;background: #000;}
.tt_head_menu ul li{display: block;float:left;width:33.3333%;border-right: 1px solid #000;border-top: 1px solid #000;border-bottom: 1px solid #000;margin:0px 0px -1px 0px;
background: #222;

    


}   
.tt_head_menu ul li.show_m,
.tt_head_menu ul li.hipc {display: block;}
.tt_head_menu ul li.ico-new {margin:0px 0px 0px 0px;}
.tt_head_menu ul li.ico-new a{color:#fff!important;animation: none; -webkit-animation: none;}
.tt_head_menu ul li a{float:left;width:100%;font-size: 18px;color:#eee;text-shadow: none;text-align: center;padding:12px 0px 12px 0px;white-space :nowrap;border: 0;border-radius: 0px;background: #222;}    
.tt_head_menu ul li.ico-new:hover a {color:#fff!important;}
.tt_head_menu .ico-new a::before {
 
    right: 5px;
    top: -12px;

	
}
.tt_head_menu ul li.current-menu-item a,
.tt_head_menu ul li:hover a {background: #222;color:#eee;border: 0;}
.tt_head_menu {min-height: 10px;}
.head_from_pc .tt_from_p, .head_from_pc .tt_from_u {background-color: #fff;}
.head_from_pc input::placeholder { 
  color: #777;
  opacity: 1;
}
.tt_live.if_login .fr_ficenter {border-radius: 0px;}
.tt_live.if_login {border-radius: 0px;margin: 0px 0px -3px 0px;padding: 0px 0px 0px 0px;}
.head_from_pc input:-ms-input-placeholder { 
  color: #777;
}

.head_from_pc input::-ms-input-placeholder {
 color: #777;
}
.tt_head_menu {min-height: 10px;}
.nav_menu   {width: 100%;margin: 0px;}
.tt_from_login {float:left;width:100%;padding: 10px 10px 0px 10px;}
.ct_lang  {float:left;width:100%;padding: 10px 10px 10px 10px;margin: 0px 0px 0px 0px;}
.menu_list.first,
.menu_list.center,
.menu_list {width: 32%;margin: 0% 0% 15px 1%;min-height: 180px;}
.menu_list.first ul li a,
.menu_list.center ul li a {width:100%;}
.use_lang,
.tt_btn_lang{float: left;width:100%;font-size: 16px;}
.tt_btn_lang .tt_tx {width:95%;height: 18px;}
.nav_lang { width:100%;top: 40px;font-size: 16px;border: 1px solid #ddd;}
.nav_lang a {padding: 15px 10px 15px 10px;}
.banner_h{display: none;}
.tt_from_lg {width:100%;margin-right:0px;}
.tt_from_lg .tt_from_u,
.tt_from_lg .tt_from_p{float:left;margin: 5px 0px 0px 0px;width:100%;height: 40px;padding: 10px 0px 10px 0px;font-size: 14px;background-color:#FFF;text-align: center;border: 1px solid #ccc;}
.tt_from_lg .tt_captcha{float:left;margin: 15px 0px 0px 0%;width:60%;height: 40px;padding: 10px 0px 10px 0px;font-size: 14px;background-color:#f2f2f2;text-align: center;border: 2px solid #eee;}
.captcha_img{float:left;margin: 15px 0px 0px 3%;width:37%;height: 40px;font-size: 28px;line-height:40px;}
.captcha_img img {margin-top: 10px;}
.tt_submit {width:100%;margin: 15px 0px 15px 0px;padding: 5px 0px 5px 0px;height: auto;font-size: 18px;-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;}
.ct_bank img{width:100%;}	



.tt_from_login.active{display: block;margin: 0px auto;width:60%;position:fixed;left: 0px;right: 0px;top: 20%;z-index: 1000;border-radius: 10px;

background: #efefef;
background: -moz-linear-gradient(top,  #efefef 0%, #c6c6c6 100%);
background: -webkit-linear-gradient(top,  #efefef 0%,#c6c6c6 100%);
background: linear-gradient(to bottom,  #efefef 0%,#c6c6c6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#c6c6c6',GradientType=0 );

}

.tt_xsl {background:#000;}   
.bgsl {padding: 10px 0px 0px 0px;}
.tt_label {float:left;margin: 10px 0px 0px 0px;font-size: 16px;color:#333;}
.fb_box,
.social-sharing  {display: none;}
.head_from {padding: 15px 15px 15px 15px;}
.logo_pc{width:100%;text-align: center;margin-bottom: 10px;}
.login_head_m {display: block;}
.nav_mobile {float: left;width:100%;display: block;}
.nav_mobile ul li {float: left;width:25%;color:#333;border-right: 1px solid #ccc;padding: 8px 0px 8px 0px;text-align: center;}
.menu_list span {color:#000;font-size: 16px;border-right: 0;padding: 8px 0px 8px 0px;text-align: center;background:#bf9b50;}
.bar {margin: 30px 0px 0px 0px;}


.tt_from_box select.wpcf7-form-control,
.tt_from_box textarea.wpcf7-textarea,
.tt_from_box input.wpcf7-text{padding:7px 10px 7px 10px;background:#f9f9f9;}
.tt_tab3,
.tt_tab2,
.tt_tab1{padding:8px 0px 8px 0px;}
.tt-date,
.footer_c,
.m_pc,
.m_pc2,
.tt-social,
.tt_head_menu.m_pc,
.tt_clip {
	display: none;
}

.tt_submit {
background: #960103;



}


.b-right {width:25px;height: 42px;background: #c10000;position:absolute;top: 0px;right: 0px;z-index: 9999999;color:#fff;font-size: 22px;text-align: center;line-height: 45px;}

.head_from_pc {padding-top: 0px;}
.bx_clip video {width:100%;height: auto;}
.tt_xsl,
.tt_live.if_login,
.from_hc{width:100%;float: left;}
.s-mc {width:100%;float: left;position: relative;}
.b-right{display: block;}
.tt_head_menu.m-mc {display: block;position: relative;overflow: auto;background: linear-gradient(0deg,#000,#212121);border-top: 3px solid #c10000;border-bottom: 1px solid #111;}
.tx_sl_bg {padding: 0px 0px 0px 0px;}
.head_from_pc .tt_from_p,
.head_from_pc .tt_from_u {width:100%;float: left;height: 45px;text-align: center;margin-bottom: 5px;border: 1px solid #a8a8a8;}
.head_from_pc .tt_submit {float:right;width:100%;height: 65px;border: 1px solid #dba62b;} 
.tt-line-phone {display: none;}
.ct_bg03 {width: 100%;margin: 0;} 
.footer_r,
.footer_l{float: left;width: 100%;}
.footer_r::after {display: none;}
.tt-line-phone span{float: left;width: 100%;}
.tt_lcx ,
.tt_rcx{width: 100%;}
.bar {background-image: none;  background: #c09c51;} 
.footer_t2x {text-align: center;max-width: 100%;padding: 15px 20px 0px 20px;}

.u_test span {font-size: 18px;}
.tt_ul {width: 65px;}
.tt_ur {float: left;width: 45px;}
#toTop{bottom:80px;}
.slot-page .ct1x_c,
.ct1x_c,
.ct1x_l,
.ct1x_r {float: left;width: 100%;position: relative;}
.btn-casino {max-width: 90%;}
.txh2 {padding: 0px 20px 0px 20px;margin: 0% 0% 15px 0%;}
.ct1x_c img {max-width: 100px;}

.ct1x_c {bottom: 0px;margin-top: -100px;min-height: 50px;}
.txh1 {padding: 0px 20px 20px 20px;min-height: 50px;}
.ct1x_r {margin-top: 0px;margin-bottom: 20px;min-height: 50px;}
.txh4 span {float: left;width: 50%;margin-left: 40%;text-align: left;}
.bg03,
.bg02 {top: 0px;border-radius: 0px;}
.bg05,
.bg04 {top: 0px;border-radius: 0px;margin-bottom: 0px;}
.bg01 {padding: 0px 0px 0px 0px;height: auto;}
.casino-page {min-height: 200px;}
.slot-page .ct1x_c {margin-top: 0px;}
.slot-page .ct1x_c img {max-width: 100%;}
.slot_p {margin: 0% 0% 0% 0%;border-radius: 0px;}
.slot-box .slot-btn {opacity:1;margin-top: 0%;}
.tx-slot {display: none;}

.slot-box {min-height: 210px;}
.copyright_footer {width: 100%;text-align: center;}
.c_footer {width: 100%;text-align: center;}
.footer_logo {width: 100%;text-align: center;}
.footer_logo a img {width: 200px;}
.bg05 {background-image: none;background-color: #000;height: auto;width: 100%;}
.tt_txt_seo2 {width: 100%;padding: 15px 0px 15px 0px;}
.p_gl {top: 0px;border-radius: 0px;margin-top: 0%;}
.title_page {border-radius: 0px;}
 .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 6px;
      }
.owl-carousel::after {display: none;}	  
.owl-theme .owl-dots { bottom: 10px;}	
.owl-carousel .owl-nav .owl-prev{ left: 5%;  } 
  .owl-carousel .owl-nav .owl-next{right: 5%;  } 
.fr_login {padding: 30px 10px 35px 10px;} 
.credit-box {padding: 15px 0px 0px 0px;}  
.sc_t {margin: 0px 0px 0px 0px;padding: 5px 10px 10px 10px;} 
.tt_b2x {width: 100%;margin: 10px 0px 0px 0px;}
.bgtx3 {margin: 15px 0px 0px 0px;}

.logo_h_m {display: block;width:180px;padding: 5px 5px 5px 10px;}
.logo_h_m img {float:left;width: 100%;}
.btn_main_menu {display: block;}
.arrxb,
.tt_head_menu{display: none;}
.tt_head_menu.tt_open {display: block;}
.bg_login {background-image: none; background-color: #000;border: 3px solid #fe8e12;border-radius: 0px;margin: 0px 0px 0px 0px;}
.h-panel-login {width: 100%;padding: 5px 0px 5px 0px;color: #000;
background: #ffac02;
background: -moz-linear-gradient(top,  #ffac02 0%, #ff9a02 50%, #ff8003 100%);
background: -webkit-linear-gradient(top,  #ffac02 0%,#ff9a02 50%,#ff8003 100%);
background: linear-gradient(to bottom,  #ffac02 0%,#ff9a02 50%,#ff8003 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffac02', endColorstr='#ff8003',GradientType=0 );


}
.tt_txt_seo3,
.btxr,
.btxl,
.frb_submit,
.form-group-input,
.form-login-home {width: 100%;}
.form-login-home {padding: 0px 15px 20px 15px;}
.form-login-home .form-group-input input {height: 45px;}
.btxr{padding: 15px;}
.tt_b1x {margin: 15px 0px 10px 0px;}
.btx_vdo {margin: 0px 0px 5px 0px;}
.logo_pc_f {width: 100%;text-align: center;}
.logo_pc_f img { max-width: 300px;}
.tt_txt_seo3 {padding: 0px 15px 0px 15px;margin-top: 0px;}

} 
 	

@media screen and (max-width:620px){
.bg_2x {padding: 0px 0px 0px 0px;}
.tt_list.sbo .tt_img  {width:40%;}
.tt_list.sbo .tt_dsc {width:57%;}
 .wpcf7 form .wpcf7-response-output{width:90%;left:0px;right:0px;}
.tt_full.fp .wpcf7{float:left;width:100%;}
.tt_full.fp #wpcf7-f81-p12-o2.wpcf7 {margin: 50px 0px 50px 0px;}
.tt_lc {width: 100%;min-height: 10px;}
.tt_rc {float: left;width: 100%;min-height: 100px;padding: 0% 0% 0% 0%;}
.tt_slide_page {margin: 10px 0px 0px 0px;}
.tt_full .wpcf7{width:100%;}
.thaitheme_read{padding:0px 0px 5px 0px;}
.tt_r.tt_rc {margin-top: 0px;}
.tt-app_img,
a.more,
.fb_pc {display: none;}
.owl-theme .owl-nav { bottom: 65%;}   
.logo_ft {max-width: 100%;}
.footer_l1x {text-align: center;}
.footer_t1x {max-width: 100%;width: 100%;padding: 0px 20px 20px 20px;text-align: center;}
.logo_ft img {max-width: 200px;}
.game-slot{grid-template-columns: 1fr 1fr;padding: 5% 10px 5% 10px;grid-gap:20px;}
.home .post-gslot,
.post-gslot{width: 32%;} 
.home .post-gslot.last {margin: 1% 0% 0% 1%;}
.post-sm44xx {width: 48.5%;}  
.post-sm44b.tt4x ,
.post-sm44b {width: 47%;margin: 3% 0% 10px 2%;} 
.post-sm44b  h3 {float: left;width: 100%;height: 45px;overflow: hidden;} 
.user-box img {width: 13.5%;}
 .tt_col_e {margin-bottom: 5px;}  
.tt_col_e4x {width: 49%;margin: 0px 0% 5px 2%;}
.tt_col_e4x:hover .ov_play,
.tt_col_e4x:hover .btn_play_g,
.tt_col_e:hover .btn_play_g,
.tt_col_e:hover .ov_play {display: none;}
.tt_col_e4x.e3x,
.tt_col_e4x.e1x {margin: 0px 0% 5px 0%;}

.tt_col_e4x h3 {font-size: 16px;}
.link_ico i {margin-top: 7px;display: inline-block;} 
.fix_footer strong {top: 0px;}
}

@media screen and (max-width:584px){

.head_from {padding: 10px;}
.tt_from_login.active{width:80%;}
.tt_btn_lang .tt_tx {width:90%;}




}
@media screen and (max-width:480px){
.tt_col_c {margin-top: 0px;}
.right_ct .banner_hover {width: 100%;}
.tt_full.nav_m img {width: 60%;margin-top: 6px;}
.menu_list.gcm ,
.menu_list.last,
.menu_list.first,
.menu_list.center,
.menu_list {width: 94.4%;margin: 0% 0% 25px 2.9%;min-height: 0px;}
.menu_list span{font-size:22px;}
.tt_rc {float: left;width: 100%;padding: 0% 0% 0% 0%;margin-top: 0px;}
.tt_from_login.active{width:90%;}
.head_phone.mn,
.tt_ag_bt.mc,
.tt_home_bx.bx_clip,
.post-sm3xx.tt5x,
.post-sm3xx.tt6x,
.owl-theme .owl-nav,
.tt-date,
.tt_list.sbo .tt_dsc p,
.post-sm3xx.tt5x{display: none;}

.head_from_m {max-width: 300px;}
.post-sm3xx  {width: 49%;}
.post-sm3xx.tt4x,
.post-sm3xx.tt2x {margin-right: 0px;} 
 .tt_home_bx {width:100%;margin: 0px 0px 10px 0px;}
.post-sm3xx.tt3x {margin: 10px 2% 0px 0%;}
.owl-theme .owl-nav { top: 15%;  }   
.fr_link_lx a {font-size: 18px;padding: 10px 0px 10px 0px;}
.tt_full.mcx {margin-bottom: 10px;}
.txh4 span {float: left;width: 80%;margin-left: 20%;text-align: left;}
.txh1,
.txh2,
.txh3 {font-size:22px;line-height: 22px;}

.mcxx {padding: 0px 0px 0px 0px;}
.txh5 {font-size:32px;line-height: 32px;padding: 0px 20px 0px 20px;}
.user-box h3 {padding: 0px 0px 0px 0px;}
.fr_link_2xxx a {padding: 10px 10px 18px 10px;}
.post-l3x .tt_img  {float:left;width:50%;}	
.post-l3x.last,
.post-l3x {width:100%;margin: 10px 0% 0% 0%;padding: 0px 0px 10px 0px;border-left: 0;border-right:0;border-top: 0;border-bottom: 1px solid #2f2f2f;}
.post-l3x .tt_dsc h3 {max-height: 100%;font-size:20px;line-height: 22px;}
.post-l3x .tt_dsc {width:47%;padding: 0px 0px 0px 10px;}
.post-l3x .tt_dsc p {max-height: 61px;line-height: 20px;display: none;}
.post-l3x:hover {background-color: transparent;}

.tt_list.sbo .tt_dsc h3 {font-size:18px;line-height: 20px;}
.bg02 {padding: 10px 0px 0px 0px;min-height: 10px;} 
.tt_txt_seo2x,
.tt_txt_seo {padding: 10px 10px 10px 10px;}
.sc_t {margin: 0px 0px 0px 0px;padding: 5px 5px 0px 5px;} 
.h_slot1,
.h_slot {font-size: 20px;line-height: 20px;margin: 15px 0px 0px 0px;}
.c_footer {padding: 25px 0px 10px 10px;}
.tt_lix strong {font-size: 20px;font-weight: bold;margin-bottom: 0px;}
.ifr_vdo {width: 100%;}
.ifr_2x{width: 100%;}
.tt_bb2x {margin-bottom: 10px;}
.btxr,
.tt_col_6x {margin-top: 0px;}
.tt_txt_seo h3 {font-size: 1.4em;}
.btxr {
  padding: 10px;
}
.bgjk,
.bgufa,
.bggp,
.bgpg,
.bgwm,
.bgsx,
.bgsa {padding: 0px 10px 10px 10px; }
.bgjk .tt_txt_seo,
.bgufa .tt_txt_seo,
.bggp .tt_txt_seo,
.bgpg .tt_txt_seo,
.bgwm .tt_txt_seo,
.bgsx .tt_txt_seo,
.bgsa .tt_txt_seo {padding: 10px 0px 10px 0px; }
.tt_col_4x {width:49%;margin-top: 0px;}
.tt_col_9x.last3x,
.tt_col_4x.last2x {margin-right: 0px;}
.tt_col_9x {width: 32.3%;margin-top: 0px;}
.tt_lix {width: 32.3%;}
.tt_content {min-height: 180px;}
.fr_login {margin: 10px auto 15px auto;}
.fr_tx_u {font-size: 20px;}
.tt_col_4x-.plx5,
.tt_col_4x-.plx6{width: 49%;}
.tt_col_4x-.plx7,
.tt_col_4x-.plx8,
.tt_col_4x-.plx9 {width: 32.2%;}
.tt_col_4x-.plx8{margin: 0px 1.5% 5px 0%;}
.tt_col_4x-.plx9{margin: 0px 0% 5px 0%;}
.post-l3x {width: 100%;}
.slide_b {padding: 0px 10px 0px 10px;}
.bg_2 {padding: 0px 0px 0px 0px;}
} 


@media screen and (max-width:384px){

.tt_col_a ,
.tt_col_b {width: 100%;margin: 0px 0% 10px 0px;}
.tt_rc {float: left;width: 100%;padding: 0% 0% 0% 0%;}
.tt_full .tt_live.banner_hover,
.tt_slide {float: left;width: 100%;}
.copyright_footer {margin-top: 0px;}
.nav_mobile ul li {font-size: 12px;white-space :nowrap;}
.list_game {width: 45.5%;margin: 10px 2% 15px 2%;}
.slot-box {min-height: 180px;}          
.user-box img {width: 25%;}

}   
@media screen and (max-width:378px){



}
@media screen and (max-width:361px){
 

}

@media screen and (max-width:320px){
 .owl-theme .owl-nav { top: 6%;  } 
.head_from_m {max-width: 270px;}

}
